* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  background: none;
}

body {
  font-family: sans-serif;
}

/* some style taken inspiration from Tania Rascia https://www.taniarascia.com/ */

h3 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(120deg, #22c1c3 0%, #fdbb2d 100%);
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  color: white;
}

.box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.2s linear;
  font-family: sans-serif;

}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}

.card:nth-child(2n) h3 {
  background-image: linear-gradient(120deg, #EECDA3 0%, #EF629F 100%);
}

.card:nth-child(4n) h3 {
  background-image: linear-gradient(120deg, #ff6e7f 0%, #bfe9ff 100%);
}

.card:nth-child(5n) h3 {
  background-image: linear-gradient(120deg, #16A085 0%, #F4D03F 100%);
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

/* previously p tag class */
.blurb {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
  font-family: sans-serif;
  color: #777;
  line-height: 1.7rem;
}

#food {
  width: 95%;
}

#container {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.beer {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 10px 13px 30px -19px rgba(0, 0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}

.beerImage {
  padding: 10px;
  width: 50px;
  order: 1;
}

.beerImage img {
  width: 10px;
}

/* miscel */
.appTitle {
  font-weight: 900;
  text-align: center;
  color: white;
}

.beerImg {
  width: 25%;
  height: auto;
  margin: 0 auto;
  display: flex;
  margin-bottom: 2rem;
}

.form-control {
  width: 100%;
}

#btnSearch,
#btnClear {
  margin: 0 auto;
  width: 20%;
  border-radius: 3px;
  text-align: center;
}

.jumbotron {
  background-image: linear-gradient(to bottom, #09203f 55%, #537895 100%);
}

.lead,
.lead span {
  color: white;
  text-align: center;
}

.lead span,
.zeroSearch p {
  font-family: sans-serif;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 100;
}

.zeroSearch {
  text-align: center;
  margin-top: 1rem;
  font-family: sans-serif;
}

img.noImg {
  width: 100%;
}